In [ ]:
"""
Introduction to Data Science
Programming Exercise: 01
Name: Dang Thi Kim Anh
Student ID: 21280084
"""

# Q1:
name = input("Please enter your name: ")
age = input("Please enter your age: ")
print("Hello " + name + ", you are " + age + " years old!")

Please enter your name: Kim Anh
Please enter your age: 19
Hello Kim Anh, you are 19 years old!

In [ ]:
# Q2:
num = input("Please enter number: ")
if int(num) % 2 == 0:
  print(str(num) + " is even.")
else:
    print(str(num) + " is odd.")

Please enter number: 15
15 is odd.

In [ ]:

# Q3:
for x in range(1, 11):
  print(x)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Q4: 
num = int(input("Please enter number: "))
if num % 2 == 0:
  for x in range(0, num + 1, 2):
    print(x)
else:
  for x in range(0, num, 2):
    print(x)

Please enter number: 12
0
2
4
6
8
10
12

In [ ]:
# Q5: 
numbers = [5, 1, 7, 7, 8, 10, -2, 6, 8, 9, -5, 11, 20]
print(numbers[-5:])

[8, 9, -5, 11, 20]

In [ ]:
# Q6:
numbers = list(range(1, 11))
even_numbers = [x for x in numbers if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]

In [ ]:
# Q7:
name_to_age = {'John': 19, 
                'Tom': 15, 
                'James': 30, 
                'Danny': 18, 
                'Lisa': 19, 
                'Rose': 17, 
                'Jisoo': 16, 
                'Jennie': 20}
new_name_to_age = name_to_age
names = list(name_to_age.keys())
ages = list(name_to_age.values())
for x in ages:
  if x <= 18:
    pos = ages.index(x)
    key = names[pos]
    new_name_to_age.pop(key)
print(new_name_to_age)

{'John': 19, 'James': 30, 'Lisa': 19, 'Jennie': 20}

In [ ]:
# Q8:
def calc_sum(nums):
  sum = 0
  for i in nums:
    sum += i
  return sum
  
nums = [5, 3, -2, 4, -1]
calc_sum(nums)

9

In [ ]:
# Q9:
def count_char_freq(input_string):
  freq_dict = {}
  for char in input_string:
    if char in freq_dict:
      freq_dict[char] += 1
    else:
      freq_dict[char] = 1
  print(str(freq_dict))

string = "abcaccdefeef"
char_freq = count_char_freq(string)

{'a': 2, 'b': 1, 'c': 3, 'd': 1, 'e': 3, 'f': 2}

In [ ]:
# Q10:
import pandas as pd
import numpy as np
from matplotlib import style
from matplotlib import pyplot as plt
from google.colab import drive 
drive.mount('/content/gdrive')
df = pd.read_csv('/content/gdrive/MyDrive/netflix_titles.csv')
print(df.head(10))

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
  show_id     type                             title  \
0      s1    Movie              Dick Johnson Is Dead
1      s2  TV Show                     Blood & Water
2      s3  TV Show                         Ganglands
3      s4  TV Show             Jailbirds New Orleans
4      s5  TV Show                      Kota Factory
5      s6  TV Show                     Midnight Mass
6      s7    Movie  My Little Pony: A New Generation
7      s8    Movie                           Sankofa
8      s9  TV Show     The Great British Baking Show
9     s10    Movie                      The Starling

                        director  \
0                Kirsten Johnson
1                            NaN
2                Julien Leclercq
3                            NaN
4                            NaN
5                  Mike Flanagan
6  Robert Cullen, JosÃ© Luis Ucha
7                   Haile Gerima
8                Andy Devonshire
9                 Theodore Melfi

                                                cast  \
0                                                NaN
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
3                                                NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
5  Kate Siegel, Zach Gilford, Hamish Linklater, H...
6  Vanessa Hudgens, Kimiko Glenn, James Marsden, ...
7  Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...
8  Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...
9  Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...

                                             country          date_added  \
0                                      United States  September 25, 2021
1                                       South Africa  September 24, 2021
2                                                NaN  September 24, 2021
3                                                NaN  September 24, 2021
4                                              India  September 24, 2021
5                                                NaN  September 24, 2021
6                                                NaN  September 24, 2021
7  United States, Ghana, Burkina Faso, United Kin...  September 24, 2021
8                                     United Kingdom  September 24, 2021
9                                      United States  September 24, 2021

   release_year rating   duration  \
0          2020  PG-13     90 min
1          2021  TV-MA  2 Seasons
2          2021  TV-MA   1 Season
3          2021  TV-MA   1 Season
4          2021  TV-MA  2 Seasons
5          2021  TV-MA   1 Season
6          2021     PG     91 min
7          1993  TV-MA    125 min
8          2021  TV-14  9 Seasons
9          2021  PG-13    104 min

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...
5                 TV Dramas, TV Horror, TV Mysteries
6                           Children & Family Movies
7   Dramas, Independent Movies, International Movies
8                       British TV Shows, Reality TV
9                                   Comedies, Dramas

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...
5  The arrival of a charismatic young priest brin...
6  Equestria's divided. But a bright-eyed hero be...
7  On a photo shoot in Ghana, an American model s...
8  A talented batch of amateur bakers face off in...
9  A woman adjusting to life after a loss contend...

In [ ]:
# Q11:
df.query("type == 'Movie' and release_year < 2020 and release_year > 2016")

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
38,s39,Movie,Birth of the Dragon,George Nolfi,"Billy Magnussen, Ron Yuan, Qu Jingjing, Terry ...","China, Canada, United States","September 16, 2021",2017,PG-13,96 min,"Action & Adventure, Dramas",A young Bruce Lee angers kung fu traditionalis...
73,s74,Movie,King of Boys,Kemi Adetiba,"Sola Sobowale, Adesua Etomi, Remilekun ""Remini...",Nigeria,"September 14, 2021",2018,TV-MA,182 min,"Dramas, International Movies",When a powerful businesswomanâs political ambi...
90,s91,Movie,Paradise Hills,Alice Waddington,"Emma Roberts, Danielle Macdonald, Awkwafina, E...","Spain, United States","September 9, 2021",2019,TV-MA,95 min,"Sci-Fi & Fantasy, Thrillers",Uma wakes up in a lush tropical facility desig...
94,s95,Movie,Show Dogs,Raja Gosnell,"Will Arnett, Ludacris, Natasha Lyonne, Stanley...","United Kingdom, United States","September 8, 2021",2018,PG,90 min,"Children & Family Movies, Comedies",A rough and tough police dog must go undercove...
96,s97,Movie,If I Leave Here Tomorrow: A Film About Lynyrd ...,Stephen Kijak,"Ronnie Van Zandt, Gary Rossington, Allen Colli...",United States,"September 7, 2021",2018,TV-MA,97 min,"Documentaries, Music & Musicals","Using interviews and archival footage, this do..."
...,...,...,...,...,...,...,...,...,...,...,...,...
8756,s8757,Movie,Woodstock,Barak Goodman,NaN,United States,"August 13, 2019",2019,TV-MA,97 min,"Documentaries, Music & Musicals",For the 50th anniversary of the legendary Wood...
8765,s8766,Movie,XX,"Jovanka Vuckovic, Annie Clark, Roxanne Benjami...","Natalie Brown, Jonathan Watton, Melanie Lynske...","Canada, United States","June 22, 2017",2017,R,81 min,Horror Movies,This four-part anthology of short horror films...
8774,s8775,Movie,ÙÙÙ Ø§ÙØ¯ÙÙ,Abu Bakr Shawky,"Rady Gamal, Ahmed Abdelhafiz, Shahira Fahmy, S...","Egypt, Austria, United States","October 22, 2019",2018,TV-14,97 min,"Dramas, Independent Movies, International Movies",A man cured of leprosy and a young orphan leav...
8786,s8787,Movie,You Can Tutu,James Brown,"Lily O'Regan, Jeannettsy Enriquez Borges, Joel...",United Kingdom,"December 31, 2017",2017,TV-G,87 min,Children & Family Movies,A gifted young ballet dancer struggles to find...
8787,s8788,Movie,You Canât Fight Christmas,Kenny Young,"Brely Evans, Andra Fuller, Persia White, Porsc...",United States,"December 19, 2017",2017,TV-PG,85 min,"Comedies, Romantic Movies",After stepping in to revitalize his family's h...